.recipe_explorer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .recipe_explorer_subcontainer {
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .filter_addCart_container {
      width: inherit;
      display: flex;
      justify-content: space-around;
    }
    .recipe_tile_container {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
    }
  }
}
