<div class="recipe_explorer_container">
  <div class="recipe_explorer_subcontainer">
    <div class="recipe_header">
      <h2>Recipe Explorer</h2>
    </div>
    <div class="filter_addCart_container">
      <span>
        <span>Filter by Rating:</span>
        <select>
          <option>4.0+</option>
          <option>4.3+</option>
          <option>4.5+</option>
          <option>4.7+</option>
          <option>4.9+</option>
        </select>
      </span>
      <span>
        <span>Cart items: 0</span>
      </span>
    </div>
    <div class="average_container">
      <h3>Average rating: 4.67 (3 recipe)</h3>
    </div>
    <div class="recipe_tile_container">
      <app-recipe></app-recipe>
    </div>
  </div>
</div>
