<div class="recipe_explorer_container">
  <div class="recipe_explorer_subcontainer">
    <div class="recipe_header">
      <h2>Recipe Explorer</h2>
    </div>
    <div class="filter_addCart_container">
      <span>
        <span>Filter by Rating:</span>
        <select (change)="filterSelected($event)">
          <option selected>4.0+</option>
          <option>4.3+</option>
          <option>4.5+</option>
          <option>4.7+</option>
          <option>4.9+</option>
        </select>
      </span>
      <span>
        <span>Cart items: {{ cartItems }}</span>
      </span>
    </div>
    <div class="average_container">
      <h3>Average rating: {{ average }} ({{ displayed_receipe }} recipe)</h3>
    </div>
    <div class="recipe_tile_container" *ngIf="recipeData">
      <app-recipe-tile
        *ngFor="let item of recipeData"
        [recipeData]="item"
        (addToCartEvent)="addToCart($event)"
      ></app-recipe-tile>
    </div>
  </div>
</div>
